<a href="https://colab.research.google.com/github/cadyannegalang/git-exercise-cady/blob/main/dataframe_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Sample sales dataset (20 rows)
data = {
    "OrderID": range(1001, 1021),
    "Product": [
        "Laptop", "Mouse", "Keyboard", "Monitor", "Laptop",
        "Headphones", "Mouse", "Chair", "Desk", "Laptop",
        "Printer", "Keyboard", "Monitor", "Mouse", "Laptop",
        "Headphones", "Desk", "Monitor", "Printer", "Chair"
    ],
    "Category": [
        "Electronics", "Accessories", "Accessories", "Electronics", "Electronics",
        "Accessories", "Accessories", "Furniture", "Furniture", "Electronics",
        "Electronics", "Accessories", "Electronics", "Accessories", "Electronics",
        "Accessories", "Furniture", "Electronics", "Electronics", "Furniture"
    ],
    "Quantity": [2, 5, 3, 4, 1, 6, 10, 2, 1, 3, 2, 4, 2, 7, 5, 3, 2, 4, 1, 6],
    "Price": [800, 20, 50, 200, 850, 40, 25, 150, 300, 900, 120, 55, 250, 20, 750, 35, 280, 220, 110, 180],
    "Customer": [
        "Alice", "Bob", "Charlie", "Diana", "Ethan",
        "Fiona", "George", "Hannah", "Ian", "Jane",
        "Kyle", "Laura", "Mike", "Nina", "Oscar",
        "Paul", "Queen", "Robert", "Sarah", "Tom"
    ],
    "Region": [
        "North", "South", "East", "West", "North",
        "South", "East", "West", "North", "South",
        "East", "West", "North", "South", "East",
        "West", "North", "South", "East", "West"
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

print(df.head())
print("Shape:", df.shape)

print("Columns:", df.columns)

   OrderID   Product     Category  Quantity  Price Customer Region
0     1001    Laptop  Electronics         2    800    Alice  North
1     1002     Mouse  Accessories         5     20      Bob  South
2     1003  Keyboard  Accessories         3     50  Charlie   East
3     1004   Monitor  Electronics         4    200    Diana   West
4     1005    Laptop  Electronics         1    850    Ethan  North
Shape: (20, 7)
Columns: Index(['OrderID', 'Product', 'Category', 'Quantity', 'Price', 'Customer',
       'Region'],
      dtype='object')

In [4]:
import pandas as pd

# Step 1: Create DataFrame
data = {
    "OrderID": range(1001, 1021),
    "Product": [
        "Laptop", "Mouse", "Keyboard", "Monitor", "Laptop",
        "Headphones", "Mouse", "Chair", "Desk", "Laptop",
        "Printer", "Keyboard", "Monitor", "Mouse", "Laptop",
        "Headphones", "Desk", "Monitor", "Printer", "Chair"
    ],
    "Category": [
        "Electronics", "Accessories", "Accessories", "Electronics", "Electronics",
        "Accessories", "Accessories", "Furniture", "Furniture", "Electronics",
        "Electronics", "Accessories", "Electronics", "Accessories", "Electronics",
        "Accessories", "Furniture", "Electronics", "Electronics", "Furniture"
    ],
    "Quantity": [2, 5, 3, 4, 1, 6, 10, 2, 1, 3, 2, 4, 2, 7, 5, 3, 2, 4, 1, 6],
    "Price": [800, 20, 50, 200, 850, 40, 25, 150, 300, 900, 120, 55, 250, 20, 750, 35, 280, 220, 110, 180],
    "Customer": [
        "Alice", "Bob", "Charlie", "Diana", "Ethan",
        "Fiona", "George", "Hannah", "Ian", "Jane",
        "Kyle", "Laura", "Mike", "Nina", "Oscar",
        "Paul", "Queen", "Robert", "Sarah", "Tom"
    ],
    "Region": [
        "North", "South", "East", "West", "North",
        "South", "East", "West", "North", "South",
        "East", "West", "North", "South", "East",
        "West", "North", "South", "East", "West"
    ]
}
df = pd.DataFrame(data)


# Step 2: Show first 5 rows
print("First 5 rows:")
print(df.head())

# Step 3: Print DataFrame shape
print("Shape:", df.shape)

# Step 4: Show column names
print("Column names:", df.columns)

First 5 rows:
   OrderID   Product     Category  Quantity  Price Customer Region
0     1001    Laptop  Electronics         2    800    Alice  North
1     1002     Mouse  Accessories         5     20      Bob  South
2     1003  Keyboard  Accessories         3     50  Charlie   East
3     1004   Monitor  Electronics         4    200    Diana   West
4     1005    Laptop  Electronics         1    850    Ethan  North
Shape: (20, 7)
Column names: Index(['OrderID', 'Product', 'Category', 'Quantity', 'Price', 'Customer',
       'Region'],
      dtype='object')

In [7]:
# Step 1: Add Discount column (10% if Quantity >= 5 else 0)
df["Discount"] = df.apply(lambda row: row["Price"] * row["Quantity"] * 0.10 if row["Quantity"] >= 5 else 0, axis=1)


# Step 2: Add FinalTotal column (Total - discount)
df["Total"] = df["Quantity"] * df["Price"]
df["FinalTotal"] = df["Total"] - df["Discount"]


# Step 3: Show selected columns
print(df[["OrderID", "Product", "Total", "Discount", "FinalTotal"]].head())

   OrderID   Product  Total  Discount  FinalTotal
0     1001    Laptop   1600       0.0      1600.0
1     1002     Mouse    100      10.0        90.0
2     1003  Keyboard    150       0.0       150.0
3     1004   Monitor    800       0.0       800.0
4     1005    Laptop    850       0.0       850.0

In [14]:
# Step 1: Create new record
new_row = {
    "OrderID": 1021,
    "Product": "Tablet",
    "Category": "Electronics",
    "Quantity": 2,
    "Price": 450,
    "Customer": "Victor",
    "Region": "East"
}

# Step 2: Append to DataFrame
df = df._append([new_row], ignore_index=True)

# Step 3: Recalculate Total
df["Total"] = df["Quantity"] * df["Price"]

# Step 4: Show last 3 rows
print(df.tail(3))

    OrderID Product     Category  Quantity  Price Customer Region  Discount  \
24     1021  Tablet  Electronics         2    450   Victor   East       NaN
25     1021  Tablet  Electronics         2    450   Victor   East       NaN
26     1021  Tablet  Electronics         2    450   Victor   East       NaN

    Total  FinalTotal
24    900         NaN
25    900         NaN
26    900         NaN

In [16]:
# Step 1: Update price of Mouse products
df.loc[df["Product"] == "Mouse", "Price"] = 30

# Step 2: Recalculate Total for affected rows
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Show only Mouse rows
print(df[df["Product"] == "Mouse"])

    OrderID Product     Category  Quantity  Price Customer Region  Discount  \
1      1002   Mouse  Accessories         5     30      Bob  South      10.0
6      1007   Mouse  Accessories        10     30   George   East      25.0
13     1014   Mouse  Accessories         7     30     Nina  South      14.0

    Total  FinalTotal
1     150        90.0
6     300       225.0
13    210       126.0

In [20]:
# Step 1: Show updated DataFrame
print(df.head())

   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     30      Bob  South    150
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850

In [25]:
# Step 1: Drop row with OrderID = 1010
df = df.drop(df[df["OrderID"] == 1010].index, axis=0)

# Step 2: Print new shape
print("New shape:", df.shape)

New shape: (25, 8)

In [27]:
# Step 1: Electronics with Quantity >= 3
result1 = df[(df["Category"] == "Electronics") & (df["Quantity"] >= 3)]
print(result1)

# Step 2: Products with Price > 500
result2 = df[df["Price"] > 500]
print(result2)

# Step 3: Count orders from North region
count_north = df[df["Region"] == "North"].shape[0]
print("North orders:", count_north)

    OrderID  Product     Category  Quantity  Price Customer Region  Total
3      1004  Monitor  Electronics         4    200    Diana   West    800
14     1015   Laptop  Electronics         5    750    Oscar   East   3750
17     1018  Monitor  Electronics         4    220   Robert  South    880
    OrderID Product     Category  Quantity  Price Customer Region  Total
4      1005  Laptop  Electronics         1    850    Ethan  North    850
14     1015  Laptop  Electronics         5    750    Oscar   East   3750
North orders: 4

In [28]:
# Step 1: Sales in West region
west_sales = df[df["Region"] == "West"]
print(west_sales)

# Step 2: Sales by Alice
alice_sales = df[df["Customer"] == "Alice"]
print(alice_sales)

# Step 3: Sales of Laptop or Printer
subset_sales = df[df["Product"].isin(["Laptop", "Printer"])]
print(subset_sales)

    OrderID     Product     Category  Quantity  Price Customer Region  Total
3      1004     Monitor  Electronics         4    200    Diana   West    800
7      1008       Chair    Furniture         2    150   Hannah   West    300
11     1012    Keyboard  Accessories         4     55    Laura   West    220
15     1016  Headphones  Accessories         3     35     Paul   West    105
19     1020       Chair    Furniture         6    180      Tom   West   1080
Empty DataFrame
Columns: [OrderID, Product, Category, Quantity, Price, Customer, Region, Total]
Index: []
    OrderID  Product     Category  Quantity  Price Customer Region  Total
4      1005   Laptop  Electronics         1    850    Ethan  North    850
10     1011  Printer  Electronics         2    120     Kyle   East    240
14     1015   Laptop  Electronics         5    750    Oscar   East   3750
18     1019  Printer  Electronics         1    110    Sarah   East    110

In [29]:
# Step 1: Increase Price of Furniture by 10%
df.loc[df["Category"] == "Furniture", "Price"] *= 1.10

# Step 2: Recalculate Total
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Show only Furniture rows
print(df[df["Category"] == "Furniture"])

    OrderID Product   Category  Quantity  Price Customer Region   Total
7      1008   Chair  Furniture         2  165.0   Hannah   West   330.0
8      1009    Desk  Furniture         1  330.0      Ian  North   330.0
16     1017    Desk  Furniture         2  308.0    Queen  North   616.0
19     1020   Chair  Furniture         6  198.0      Tom   West  1188.0

/tmp/ipython-input-3434710126.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[165. 330. 308. 198.]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df["Category"] == "Furniture", "Price"] *= 1.10

In [30]:
# Step 1: Sort by Total descending
sorted_df = df.sort_values(by="Total", ascending=False)
print(sorted_df.head())

# Step 2: Show top 5 sales
print(sorted_df.head())

# Step 3: Multi-level sort (Region then Customer)
multi_sort = df.sort_values(by=["Region", "Customer"])
print(multi_sort.head())

    OrderID Product     Category  Quantity  Price Customer Region   Total
14     1015  Laptop  Electronics         5  750.0    Oscar   East  3750.0
19     1020   Chair    Furniture         6  198.0      Tom   West  1188.0
20     1021  Tablet  Electronics         2  450.0   Victor   East   900.0
23     1021  Tablet  Electronics         2  450.0   Victor   East   900.0
22     1021  Tablet  Electronics         2  450.0   Victor   East   900.0
    OrderID Product     Category  Quantity  Price Customer Region   Total
14     1015  Laptop  Electronics         5  750.0    Oscar   East  3750.0
19     1020   Chair    Furniture         6  198.0      Tom   West  1188.0
20     1021  Tablet  Electronics         2  450.0   Victor   East   900.0
23     1021  Tablet  Electronics         2  450.0   Victor   East   900.0
22     1021  Tablet  Electronics         2  450.0   Victor   East   900.0
    OrderID   Product     Category  Quantity  Price Customer Region   Total
2      1003  Keyboard  Accessories         3   50.0  Charlie   East   150.0
6      1007     Mouse  Accessories        10   30.0   George   East   300.0
10     1011   Printer  Electronics         2  120.0     Kyle   East   240.0
14     1015    Laptop  Electronics         5  750.0    Oscar   East  3750.0
18     1019   Printer  Electronics         1  110.0    Sarah   East   110.0